/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { RunAsAccounts } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AzureMigrateV2 } from "../azureMigrateV2";
import {
  VMwareRunAsAccount,
  RunAsAccountsGetAllRunAsAccountsInSiteNextOptionalParams,
  RunAsAccountsGetAllRunAsAccountsInSiteOptionalParams,
  RunAsAccountsGetAllRunAsAccountsInSiteResponse,
  RunAsAccountsGetRunAsAccountOptionalParams,
  RunAsAccountsGetRunAsAccountResponse,
  RunAsAccountsGetAllRunAsAccountsInSiteNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing RunAsAccounts operations. */
export class RunAsAccountsImpl implements RunAsAccounts {
  private readonly client: AzureMigrateV2;

  /**
   * Initialize a new instance of the class RunAsAccounts class.
   * @param client Reference to the service client
   */
  constructor(client: AzureMigrateV2) {
    this.client = client;
  }

  /**
   * Method to get run as accounts.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param siteName Site name.
   * @param options The options parameters.
   */
  public listAllRunAsAccountsInSite(
    resourceGroupName: string,
    siteName: string,
    options?: RunAsAccountsGetAllRunAsAccountsInSiteOptionalParams
  ): PagedAsyncIterableIterator<VMwareRunAsAccount> {
    const iter = this.getAllRunAsAccountsInSitePagingAll(
      resourceGroupName,
      siteName,
      options
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.getAllRunAsAccountsInSitePagingPage(
          resourceGroupName,
          siteName,
          options,
          settings
        );
      }
    };
  }

  private async *getAllRunAsAccountsInSitePagingPage(
    resourceGroupName: string,
    siteName: string,
    options?: RunAsAccountsGetAllRunAsAccountsInSiteOptionalParams,
    settings?: PageSettings
  ): AsyncIterableIterator<VMwareRunAsAccount[]> {
    let result: RunAsAccountsGetAllRunAsAccountsInSiteResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._getAllRunAsAccountsInSite(
        resourceGroupName,
        siteName,
        options
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._getAllRunAsAccountsInSiteNext(
        resourceGroupName,
        siteName,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *getAllRunAsAccountsInSitePagingAll(
    resourceGroupName: string,
    siteName: string,
    options?: RunAsAccountsGetAllRunAsAccountsInSiteOptionalParams
  ): AsyncIterableIterator<VMwareRunAsAccount> {
    for await (const page of this.getAllRunAsAccountsInSitePagingPage(
      resourceGroupName,
      siteName,
      options
    )) {
      yield* page;
    }
  }

  /**
   * Method to get run as account.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param siteName Site name.
   * @param accountName Run as account ARM name.
   * @param options The options parameters.
   */
  getRunAsAccount(
    resourceGroupName: string,
    siteName: string,
    accountName: string,
    options?: RunAsAccountsGetRunAsAccountOptionalParams
  ): Promise<RunAsAccountsGetRunAsAccountResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, siteName, accountName, options },
      getRunAsAccountOperationSpec
    );
  }

  /**
   * Method to get run as accounts.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param siteName Site name.
   * @param options The options parameters.
   */
  private _getAllRunAsAccountsInSite(
    resourceGroupName: string,
    siteName: string,
    options?: RunAsAccountsGetAllRunAsAccountsInSiteOptionalParams
  ): Promise<RunAsAccountsGetAllRunAsAccountsInSiteResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, siteName, options },
      getAllRunAsAccountsInSiteOperationSpec
    );
  }

  /**
   * GetAllRunAsAccountsInSiteNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param siteName Site name.
   * @param nextLink The nextLink from the previous successful call to the GetAllRunAsAccountsInSite
   *                 method.
   * @param options The options parameters.
   */
  private _getAllRunAsAccountsInSiteNext(
    resourceGroupName: string,
    siteName: string,
    nextLink: string,
    options?: RunAsAccountsGetAllRunAsAccountsInSiteNextOptionalParams
  ): Promise<RunAsAccountsGetAllRunAsAccountsInSiteNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, siteName, nextLink, options },
      getAllRunAsAccountsInSiteNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getRunAsAccountOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/VMwareSites/{siteName}/runAsAccounts/{accountName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.VMwareRunAsAccount
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.siteName,
    Parameters.accountName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const getAllRunAsAccountsInSiteOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzure/VMwareSites/{siteName}/runAsAccounts",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.VMwareRunAsAccountCollection
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.siteName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const getAllRunAsAccountsInSiteNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.VMwareRunAsAccountCollection
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.siteName,
    Parameters.nextLink
  ],
  headerParameters: [Parameters.accept],
  serializer
};
