/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { DataManagerForAgricultureExtensions } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AgriFoodMgmtClient } from "../agriFoodMgmtClient";
import {
  DataManagerForAgricultureExtension,
  DataManagerForAgricultureExtensionsListByTenantNextOptionalParams,
  DataManagerForAgricultureExtensionsListByTenantOptionalParams,
  DataManagerForAgricultureExtensionsListByTenantResponse,
  DataManagerForAgricultureExtensionsGetOptionalParams,
  DataManagerForAgricultureExtensionsGetResponse,
  DataManagerForAgricultureExtensionsListByTenantNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing DataManagerForAgricultureExtensions operations. */
export class DataManagerForAgricultureExtensionsImpl
  implements DataManagerForAgricultureExtensions {
  private readonly client: AgriFoodMgmtClient;

  /**
   * Initialize a new instance of the class DataManagerForAgricultureExtensions class.
   * @param client Reference to the service client
   */
  constructor(client: AgriFoodMgmtClient) {
    this.client = client;
  }

  /**
   * Get list of Data Manager For Agriculture extension.
   * @param options The options parameters.
   */
  public listByTenant(
    options?: DataManagerForAgricultureExtensionsListByTenantOptionalParams
  ): PagedAsyncIterableIterator<DataManagerForAgricultureExtension> {
    const iter = this.listByTenantPagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listByTenantPagingPage(options, settings);
      }
    };
  }

  private async *listByTenantPagingPage(
    options?: DataManagerForAgricultureExtensionsListByTenantOptionalParams,
    settings?: PageSettings
  ): AsyncIterableIterator<DataManagerForAgricultureExtension[]> {
    let result: DataManagerForAgricultureExtensionsListByTenantResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listByTenant(options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listByTenantNext(continuationToken, options);
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listByTenantPagingAll(
    options?: DataManagerForAgricultureExtensionsListByTenantOptionalParams
  ): AsyncIterableIterator<DataManagerForAgricultureExtension> {
    for await (const page of this.listByTenantPagingPage(options)) {
      yield* page;
    }
  }

  /**
   * Get list of Data Manager For Agriculture extension.
   * @param options The options parameters.
   */
  private _listByTenant(
    options?: DataManagerForAgricultureExtensionsListByTenantOptionalParams
  ): Promise<DataManagerForAgricultureExtensionsListByTenantResponse> {
    return this.client.sendOperationRequest(
      { options },
      listByTenantOperationSpec
    );
  }

  /**
   * Get Data Manager For Agriculture extension.
   * @param dataManagerForAgricultureExtensionId dataManagerForAgricultureExtensionId to be queried.
   * @param options The options parameters.
   */
  get(
    dataManagerForAgricultureExtensionId: string,
    options?: DataManagerForAgricultureExtensionsGetOptionalParams
  ): Promise<DataManagerForAgricultureExtensionsGetResponse> {
    return this.client.sendOperationRequest(
      { dataManagerForAgricultureExtensionId, options },
      getOperationSpec
    );
  }

  /**
   * ListByTenantNext
   * @param nextLink The nextLink from the previous successful call to the ListByTenant method.
   * @param options The options parameters.
   */
  private _listByTenantNext(
    nextLink: string,
    options?: DataManagerForAgricultureExtensionsListByTenantNextOptionalParams
  ): Promise<DataManagerForAgricultureExtensionsListByTenantNextResponse> {
    return this.client.sendOperationRequest(
      { nextLink, options },
      listByTenantNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listByTenantOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.AgFoodPlatform/farmBeatsExtensionDefinitions",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.DataManagerForAgricultureExtensionListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.farmBeatsExtensionIds,
    Parameters.farmBeatsExtensionNames,
    Parameters.extensionCategories,
    Parameters.publisherIds,
    Parameters.maxPageSize
  ],
  urlParameters: [Parameters.$host],
  headerParameters: [Parameters.accept],
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/providers/Microsoft.AgFoodPlatform/farmBeatsExtensionDefinitions/{dataManagerForAgricultureExtensionId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.DataManagerForAgricultureExtension
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.dataManagerForAgricultureExtensionId
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listByTenantNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.DataManagerForAgricultureExtensionListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  urlParameters: [Parameters.$host, Parameters.nextLink],
  headerParameters: [Parameters.accept],
  serializer
};
