/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { BusinessApplicationAgent } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { SecurityInsights } from "../securityInsights";
import {
  BusinessApplicationAgentGetOptionalParams,
  BusinessApplicationAgentGetResponse,
} from "../models";

/** Class containing BusinessApplicationAgent operations. */
export class BusinessApplicationAgentImpl implements BusinessApplicationAgent {
  private readonly client: SecurityInsights;

  /**
   * Initialize a new instance of the class BusinessApplicationAgent class.
   * @param client Reference to the service client
   */
  constructor(client: SecurityInsights) {
    this.client = client;
  }

  /**
   * Gets Business Application Agent.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName The name of the workspace.
   * @param agentResourceName Business Application Agent Name
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    workspaceName: string,
    agentResourceName: string,
    options?: BusinessApplicationAgentGetOptionalParams,
  ): Promise<BusinessApplicationAgentGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, workspaceName, agentResourceName, options },
      getOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/businessApplicationAgents/{agentResourceName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.Agent,
    },
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.agentResourceName,
  ],
  headerParameters: [Parameters.accept, Parameters.xMsClientWorkspaceId],
  serializer,
};
