/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { ManagedGatewaysOperations } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AzureAPIForManagingScomManagedInstancesAndMonitoredResources } from "../azureAPIForManagingScomManagedInstancesAndMonitoredResources";
import {
  ManagedGateway,
  ManagedGatewaysListByManagedInstanceNextOptionalParams,
  ManagedGatewaysListByManagedInstanceOptionalParams,
  ManagedGatewaysListByManagedInstanceResponse,
  ManagedGatewaysGetOptionalParams,
  ManagedGatewaysGetResponse,
  ManagedGatewaysCreateOrUpdateOptionalParams,
  ManagedGatewaysCreateOrUpdateResponse,
  ManagedGatewaysDeleteOptionalParams,
  ManagedGatewaysListByManagedInstanceNextResponse,
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing ManagedGatewaysOperations operations. */
export class ManagedGatewaysOperationsImpl
  implements ManagedGatewaysOperations
{
  private readonly client: AzureAPIForManagingScomManagedInstancesAndMonitoredResources;

  /**
   * Initialize a new instance of the class ManagedGatewaysOperations class.
   * @param client Reference to the service client
   */
  constructor(
    client: AzureAPIForManagingScomManagedInstancesAndMonitoredResources,
  ) {
    this.client = client;
  }

  /**
   * A comprehensive list of all gateway resources within a SCOM managed instance.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param options The options parameters.
   */
  public listByManagedInstance(
    resourceGroupName: string,
    options?: ManagedGatewaysListByManagedInstanceOptionalParams,
  ): PagedAsyncIterableIterator<ManagedGateway> {
    const iter = this.listByManagedInstancePagingAll(
      resourceGroupName,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listByManagedInstancePagingPage(
          resourceGroupName,
          options,
          settings,
        );
      },
    };
  }

  private async *listByManagedInstancePagingPage(
    resourceGroupName: string,
    options?: ManagedGatewaysListByManagedInstanceOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<ManagedGateway[]> {
    let result: ManagedGatewaysListByManagedInstanceResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listByManagedInstance(resourceGroupName, options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listByManagedInstanceNext(
        resourceGroupName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listByManagedInstancePagingAll(
    resourceGroupName: string,
    options?: ManagedGatewaysListByManagedInstanceOptionalParams,
  ): AsyncIterableIterator<ManagedGateway> {
    for await (const page of this.listByManagedInstancePagingPage(
      resourceGroupName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Retrieve the details of the gateway resource.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    options?: ManagedGatewaysGetOptionalParams,
  ): Promise<ManagedGatewaysGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, options },
      getOperationSpec,
    );
  }

  /**
   * Create or update a gateway resource.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param options The options parameters.
   */
  createOrUpdate(
    resourceGroupName: string,
    options?: ManagedGatewaysCreateOrUpdateOptionalParams,
  ): Promise<ManagedGatewaysCreateOrUpdateResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, options },
      createOrUpdateOperationSpec,
    );
  }

  /**
   * Remove a gateway resource.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param options The options parameters.
   */
  delete(
    resourceGroupName: string,
    options?: ManagedGatewaysDeleteOptionalParams,
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { resourceGroupName, options },
      deleteOperationSpec,
    );
  }

  /**
   * A comprehensive list of all gateway resources within a SCOM managed instance.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param options The options parameters.
   */
  private _listByManagedInstance(
    resourceGroupName: string,
    options?: ManagedGatewaysListByManagedInstanceOptionalParams,
  ): Promise<ManagedGatewaysListByManagedInstanceResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, options },
      listByManagedInstanceOperationSpec,
    );
  }

  /**
   * ListByManagedInstanceNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param nextLink The nextLink from the previous successful call to the ListByManagedInstance method.
   * @param options The options parameters.
   */
  private _listByManagedInstanceNext(
    resourceGroupName: string,
    nextLink: string,
    options?: ManagedGatewaysListByManagedInstanceNextOptionalParams,
  ): Promise<ManagedGatewaysListByManagedInstanceNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, nextLink, options },
      listByManagedInstanceNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Scom/managedInstances/{instanceName}/managedGateways/{managedGatewayName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ManagedGateway,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.instanceName1,
    Parameters.managedGatewayName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const createOrUpdateOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Scom/managedInstances/{instanceName}/managedGateways/{managedGatewayName}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.ManagedGateway,
    },
    201: {
      bodyMapper: Mappers.ManagedGateway,
    },
    202: {
      bodyMapper: Mappers.ManagedGateway,
      headersMapper: Mappers.ManagedGatewaysCreateOrUpdateHeaders,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.instanceName1,
    Parameters.managedGatewayName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const deleteOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Scom/managedInstances/{instanceName}/managedGateways/{managedGatewayName}",
  httpMethod: "DELETE",
  responses: {
    200: {},
    204: {},
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.instanceName1,
    Parameters.managedGatewayName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listByManagedInstanceOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Scom/managedInstances/{instanceName}/managedGateways",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ManagedGateways,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.instanceName1,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listByManagedInstanceNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ManagedGateways,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.nextLink,
    Parameters.instanceName1,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
