/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { CommunityGallerySecurityPostures } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { ComputeManagementClient } from "../computeManagementClient";
import {
  CommunityGallerySecurityPosturesGetOptionalParams,
  CommunityGallerySecurityPosturesGetResponse,
} from "../models";

/** Class containing CommunityGallerySecurityPostures operations. */
export class CommunityGallerySecurityPosturesImpl
  implements CommunityGallerySecurityPostures
{
  private readonly client: ComputeManagementClient;

  /**
   * Initialize a new instance of the class CommunityGallerySecurityPostures class.
   * @param client Reference to the service client
   */
  constructor(client: ComputeManagementClient) {
    this.client = client;
  }

  /**
   * Get a community gallery security posture.
   * @param location Resource location.
   * @param publicGalleryName The public name of the community gallery.
   * @param securityPostureName The name of the community gallery security posture definition.
   * @param options The options parameters.
   */
  get(
    location: string,
    publicGalleryName: string,
    securityPostureName: string,
    options?: CommunityGallerySecurityPosturesGetOptionalParams,
  ): Promise<CommunityGallerySecurityPosturesGetResponse> {
    return this.client.sendOperationRequest(
      { location, publicGalleryName, securityPostureName, options },
      getOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/communityGalleries/{publicGalleryName}/SecurityPostures/{securityPostureName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.CommunitySecurityPosture,
    },
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  queryParameters: [Parameters.apiVersion3],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.location1,
    Parameters.securityPostureName,
    Parameters.publicGalleryName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
